<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RestoTop</title>
  <script src="https://unpkg.com/feather-icons"></script>

</head>
<body>

  <a class="skip-link" href='#maincontent'>Skip to content</a>
  <!-- Navbar -->
  <header id="topnav">
  <nav>
    <div class="container-flex">
      <div class="brand">
          <a href="">RestoTop</a>
       </div>
       <button type="button" class="burger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
       </button>

       <div class="bg-sidebar"></div>
       <ul class="sidebar">
         <li><a href="/">Home</a></li>
         <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/diannurch">AboutUs</a></li>
       </ul>
    </div>

  </nav>
</header>

  <main id="maincontent">
  <!-- Hero -->
  <div class="hero">
    <h2 class="hero-title">Welcome To My Restaurant Catalog Apps</h2>
  </div>


  <!-- Content -->
  <div class="content">
    <h2> === Restaurant === </h2>
    <restaurant-list></restaurant-list>
  </div>
  
</main>

    <!-- Footer -->
    <footer></footer>
    
</body>
</html>
